@font-face {
  font-family: 'et-books';
  src: url('../fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot');
  src: url('../fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix') format('embedded-opentype'),
  url('../fonts/et-book-roman-line-figures/et-book-roman-line-figures.woff') format('woff'),
  url('../fonts/et-book-roman-line-figures/et-book-roman-line-figures.ttf') format('truetype'),
  url('../fonts/et-book-roman-line-figures/et-book-roman-line-figures.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'et-books';
  src: url('../fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot');
  src: url('../fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix') format('embedded-opentype'),
  url('../fonts/et-book-bold-line-figures/et-book-bold-line-figures.woff') format('woff'),
  url('../fonts/et-book-bold-line-figures/et-book-bold-line-figures.ttf') format('truetype'),
  url('../fonts/et-book-bold-line-figures/et-book-bold-line-figures.svg') format('svg');
  font-weight: 700;
  font-style: 700;
}

